{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "artifacts": false,
    "contract": false,
    "assert": false,
    "web3": false
  }
}
