{
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "compiler": "0.8.17",
        "useTabs": false,
        "tabWidth": 2,
        "singleQuote": false,
        "explicitTypes": "always"
      }
    }
  ]
}
