[profile.default]
sender = "0x465d5a3fFeA4CD109043499Fa576c3E16f918463"
tx_origin = "0x465d5a3fFeA4CD109043499Fa576c3E16f918463"
src = 'contracts'
out = 'out'
libs = [
  'node_modules',
  'lib'
]
test = 'test'
solc_version = '0.8.17'
optimizer = true
optimizer_runs = 200
via_ir = false
fs_permissions = [ { access = "read", path = "./contracts.json" } ]

[profile.production]
via_ir = true
optimizer_runs = 4_980

[profile.test]
via_ir = false
optimizer_runs = 0
optimizer = false
sparse_mode = true
verbosity = 3
sizes = true
names = true

[rpc_endpoints]
mumbai = "${MUMBAI_RPC_URL}"
mainnet = "${ETHEREUM_RPC_URL}"
goerli = "${GOERLI_RPC_URL}"
polygon = "${POLYGON_RPC_URL}"

[invariant]
runs = 400
depth = 15
fail_on_revert = false

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
