version: 2.1
orbs:
  node: circleci/node@5.1.0
  gcp-cli: circleci/gcp-cli@3.0.1
  nori-package-management-orb: nori-dot-com/nori-package-management-orb@0.0.1

defaults: &defaults
  docker:
    - image: cimg/node:20.1.0

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
          override-ci-command: TS_NODE_TRANSPILE_ONLY=1 yarn install --frozen-lockfile
      - run:
          command: yarn test:hardhat
          name: Run yarn tests
      - persist_to_workspace:
          root: /home/circleci
          paths:
            - project

  publish-package:
    <<: *defaults
    steps:
      - attach_workspace:
          at: /home/circleci
      - nori-package-management-orb/publish-packages
workflows:
  continuous-integration:
    jobs:
      - test
      - publish-package:
          requires:
            - test
          filters:
            branches:
              only:
                - master
